<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <pre>
    {
        original_url: <a href="<%= original_url %>"><%= original_url %></a>,
        short_url: <a href="<%= short_url %>"><%= short_url %></a>
    }
    </pre>
</body>
</html>